freerdp/
godot/
inkscape/
astro/
kde.org/
nextjs-nodejs/
baloonfileinformationrc
ffuf/
glib-2.0/
htop/
kitty/
mpv/
qBittorrent/
filetypesrc
go/
lazygit/
nemo/
QtProject.conf
session/
trashrc
aseprite/
chromium/
go/
libreoffice/
pulse/
dconf/
gtk-3.0/
rclone/
OpenToonz/
obsidian/
neofetch/
dolphinrc
mimeapps.list
